<h1>Restaurants#show</h1>

<div class="container mt-5">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.category %></h3>
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Phone nr: <%= @restaurant.phone_number %></h3>

   <h3>Reviews:</h3>
  <% if @restaurant.reviews.any? %>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li>
          <strong>Rating:</strong> <%= review.rating %><br>
          <strong>Content:</strong> <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No reviews yet.</p>
  <% end %>

  <%= render "review_form", restaurant: @restaurant, review: @review %>
</div>
